#companyFilter{
    border: red 1px solid;
    position: relative;
    left: 1200px;
    top: 100px;
    font-family: Arial, Helvetica, sans-serif
}
    
#annotation{
    border: green 1px solid;
    position: absolute;
    left: 1210px;
    top: 250px;
    width:300px;
    font-family: Arial, Helvetica, sans-serif
}

#sceneControl{
    position: absolute;
    left: 1310px;
    top: 600px;
}

/*Misc affordances*/
#zoomRect{
    cursor: zoom-in;
}

#scatterPoint{
    cursor: help;
}